<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Main page</title>
</head>

<body>
    <% if (typeof user !='undefined' ) { %>
        <!-- redirect to "user-page<%=userInfo.username%>" -->

        <div class="center-container">
            <div>
                <p>
                    <!-- <meta http-equiv="refresh" content="time; URL='/user-page/<%=userInfo.username%>'" /> -->
                <h1>Welcome <%=userInfo.firstName%>
                        <%= userInfo.lastName%>!</h1>
                </p>
            </div>
            <div> <button>
                    <a href="/user-page/<%=userInfo.username%>">Get Started </a>
                </button></div>
            <div> <a href="/logout">logout</a>
            </div>
        </div>
        <% } else {%>
            <%- include("./guest.ejs") %>
                <% } %>

</body>

</html>